<section>
  <div class= "container mt-sm-5 text-center">
    <h2><%= @currentQuestion.question %></h2>
    <div>
      <%= form_with url: "/", class: "form" do |form| %>
        <% @currentQuestion.answers.split(',').each_with_index do |answer, index| %>
          <div class="form-group">
            <%= form.radio_button :choice,  index,  class: "btn-check", :required => true%>
            <%= form.label "choice_" + index.to_s, answer, class: "btn btn-secondary input-button"%>
          </div>
        <% end %>
          <%= form.submit "Next", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</section>
